{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}

<section class="login">

    <figure>
        <img src="{{asset('/img/login.jpg')}}" alt="music image">
    </figure>

    <div class="loginForm">
        
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
    
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
    
            <h1 class="h3 mb-3 font-weight-normal">Welcome Back</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Enter your email address" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Enter your password" required>
    
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
    
            
                {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html #}
    
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me 
                    </label>
                </div>
        
    
            <button class="btn btn-lg btn-primary" type="submit">
                Log in
            </button>

        </form>

        <div class="register_reset">

            <a href="{{path('app_register')}}">sign Up</a>
            <a href="{{path('app_forgot_password_request')}}">Forgot your password</a>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-3 w-100">
                <a class="btn btn-lg btn-outline-dark" href="{{path('connect_google_start')}}" role="button" style="text-transform:none">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    Login with Google
                </a>
            </div>
        </div>
    </div>

</section>
{% endblock %}
