{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<section class="home">

    <div class="playlist">

        <div class="title">

            <h1>Recommended</h1>
            <a href="{{path('more_recommended')}}">More</a>
        </div>

        <div class="playlistCards">

            {% for playlist in playlists %}
                
                <div class="playlistCard">
                    <a href="{{path('playlist_detail', {'id' : playlist.id})}}">
                        
                        <figure>
                            <img src="{{playlist.image}}" alt="playlist image">
                        </figure>
                        
                        <h3>{{playlist.playlistName}}</h3>
                    </a>
                </div>
            {% endfor %}

        </div>

    </div>

    {# if the user is connected and has a favorite playlist #}
    {% if (app.user) and (favoritePlaylists != null) %}

        <div class="playlist">

            <div class="title">

                <h1>Your Favorite Playlists</h1>
                <a href="{{path('app_favorites')}}">More</a>
            </div>

            <div class="playlistCards">
                
  
                {% for favorite in app.user.favoritePlaylists %}
                    
                    <div class="playlistCard">

                        <a href="{{path('playlist_detail', {'id' : favorite.id})}}">
                            <figure>
                                <img src="{{favorite.image}}" alt="playlist image">
                            </figure>

                            <h3>{{favorite.playlistName}}</h3>

                        </a>
                    </div>
                {% endfor %}

            </div>

        </div>

    {% endif %}

    <div class="playlist">

        <div class="title">

            <h1>Most liked songs</h1>
            <a href="{{path('app_mostLiked')}}">More</a>
        </div>

        <div class="playlistCards">
                        
            {% for song in songs %}            
                <div class="playlistCard">
                    
                    <a href="{{path('app_songPlayer', {'id': song.id})}}">
                        
                        <figure>
                            <img src="{{song.cover}}" alt="playlist image">
                        </figure>
                        
                        <h3>{{song.nameSong}} </h3>
                    </a>
                    
                </div>
            {% endfor %}

        </div>

    </div>

</section>
{% endblock %}