{% extends 'base.html.twig' %}

{% block title %}SearchPage{% endblock %}

{% block body %}

    <section class="more">

        {% include "home/_searchBar.html.twig" %}

        <div class="searchItems">

            {% if songs == null %}
                
                <h2 class="mt-5">No result</h2>
            {% endif %}
            
            {% for song in songs %}

                <div class="mcard">

                    <a href="{{path('app_songPlayer', {'id': song.id})}}">

                        <figure>
                            <img src="{{asset('uploads/' ~ song.cover)}}" alt="playlist image">

                        </figure>
                        
                        <h3>{{song.nameSong}}</h3>
                    </a>

                    <div class="albumArtist">

                        <a href="#">
                            <h3>{{song.nameAlbum}}</h3>
                        </a>
                        <a href="#">
                            <h3>{{song.username}}</h3>
                        </a>
                    </div>

                </div>

            {% endfor %}
            
        </div>
    </section>
{% endblock %}

