{% extends 'base.html.twig' %}

{% block title %}SearchPage{% endblock %}

{% block body %}

    <section class="search">

        {% include "home/_searchBar.html.twig" %}

        <div class="searchItems">

            {% if songs == null %}
                
                <h2 class="mt-5">No result</h2>
            {% endif %}
            
            <div class="d-flex w-100">

                
                {% for artist in artists %}    
            
                    {% if "ROLE_ARTIST" in artist.getRoles %}

                        <a href="{{path('app_artistDetail', {'id': artist.username})}}" class="text-decoration-none text-body mt-5 h-25 m-auto">

                            <figure class="w-75">

                                <img src="{{asset('uploads/' ~ artist.avatar)}}" class="rounded-circle w-100" alt="profile picture">
                            </figure>
                            

                            <div class="flex">

                                <h3>{{artist.username}}</h3>
                                <h3>Subscriber Count : {{artist.subUser2 |length}} </h3>
                            </div>

                        </a>
                            

                    {% endif %}

                {% endfor %}

                        
                <table class="mt-5 h-25 w-50">
            
                    <tbody>
            
                        {% for song in songs %}
                            <tr>
                                <td>
                                    <figure>
                                        <img src="{{asset('uploads/' ~ song.cover)}}" alt="song img">
                                    </figure>
                                </td>
                                <td> <a href="{{path('app_songPlayer', {'id': song.uuid})}}">{{song.nameSong}} </a></td>
                                <td>{{song.username}}</td>

                                {% if app.user %}
                        
                                    <td><button><a href="{{path('form_toSongsPlaylist', {'id': song.id})}}" id="myBtn" class="fa-solid fa-plus"></a></button></td>
                                
                                {% else %}
                                    <td><button><i class="fa-solid fa-plus"></i></button></td>
                                {% endif %}

                            </tr>
                        {% endfor %}
            
                    </tbody>
                </table>

            </div>

            <div class="d-flex w-100">

                {% for album in albums %}
                    
                    <div class="mcard">
    
                        <a href="{{path('app_albumDetail', {'id': album.uuid})}}">
    
                            <figure>
                                <img src="{{asset('uploads/' ~ album.cover)}}" alt="album image">
    
                            </figure>
                            
                            <h3>{{album.nameAlbum}}</h3>
                        </a>
    
                    </div>
    
                {% endfor %}
            </div>

            
        </div>
    </section>
{% endblock %}

