{% extends 'base.html.twig' %}

{% block title %}{{genre.genreName}}{% endblock %}

{% block body %}

    <section class="genreSongs">

        {% for song in genre.songs %}
    
            <div class="songCard">

                <a href="{{path('app_songPlayer', {'id': song.id})}}">

                    <figure>
                        <img src="{{asset('uploads/' ~ song.album.cover)}}" alt="song cover">
                    </figure>
                    
                    <div class="songInfo">

                        <h3>{{song.nameSong}} </h3>
                        
                        <a href="{{path('app_artistDetail', {'id': song.user.id})}}">
                            <h2>{{song.user.username}} </h2>
                        </a>
                    </div>
                </a>

            </div>
        {% endfor %}
        
    </section>

{% endblock %}
