{% extends 'base.html.twig' %}

{% block title %}{{genre.genreName}}{% endblock %}

{% block body %}

    <section class="genreSongs">
        {{ wo_render_breadcrumbs() }}
        
        {% for song in songs %}
    
            <div class="songCard">

                <a href="{{path('app_songPlayer', {'id': song.uuid})}}">

                    <figure>
                        <img src="{{asset('uploads/' ~ song.album.cover)}}" alt="song cover">
                    </figure>
                    
                    <div class="songInfo">

                        <h3>{{song.nameSong}} </h3>
                        
                        <a href="{{path('app_artistDetail', {'id': song.user.username})}}">
                            <h5>{{song.user.username}} </h5>
                        </a>
                    </div>
                </a>

            </div>
        {% endfor %}
        

        <div class="d-flex justify-content-center">
            
            {{ knp_pagination_render(songs) }}
        </div>

    </section>

{% endblock %}
