{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <section class="register">

        <div class="registerForm">
        
            <h1 class="fs-1">Register</h1>

            <h2>Please provide the following details to complete your registration</h2>
            <small class="text-danger">Please note that selecting either the "User" or "Artist" role will significantly alter your experience.</small>
            
            {{ form_start(registrationForm, {'attr': {'class': 'flex-column w-75 m-auto'}}) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.roles) }}
            {{ form_row(registrationForm.avatar) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}
            
            <button type="submit" class="btn">Register</button>
            {{ form_end(registrationForm) }}

            <a href="{{path('app_login')}}">Already have an account ?</a>

        </div>

    </section>
{% endblock %}
