<article>

    <figure>
        {% if comment.user.avatar != null %}
            <img src="{{asset('uploads/' ~ comment.user.avatar)}}" alt="profile picture">

        {% else %}
            <img src="{{asset('assets/img/profil_pic.png')}}" alt="profile picture">

        {% endif %}

        <figcaption>
            <a href="{{path('app_artistDetail', {'id':comment.user.id })}}">{{comment.user.username}}</a>

            {# if the user is connected then show the comment param section #}
            {% if app.user %}

                <div class="dropdown">
                    <button class="fa-solid fa-ellipsis-vertical"></button>

                    {# if the user is the owner of the comment then show the delete #}
                    {% if app.user.id is same as(comment.user.id) %}

                        <div id="list-items">
                            <a href="{{path('delete_comment', {'id': comment.id})}}" id="commentId">delete</a>
                        </div>
                        
                    {% endif %}

                </div>

            {% endif %}

        </figcaption>
    </figure>

    <p>{{comment.text}} </p>
</article>