<article id="comment-{{comment.id}}">

    <figure>
        {% if comment.user != null %}

            {% if comment.user.googleId %}
                <img src="{{ asset(comment.user.avatar )}}" alt="avatar">
            {% elseif comment.user.avatar != null %}
                <img src="{{asset('uploads/' ~ comment.user.avatar)}}" alt="profile picture">

            {% else %}
                <img src="{{asset('img/avatar-gf5083c0bd_640.png')}}" alt="avatar">
            {% endif %}

            
        {% else %}
            <img src="{{asset('img/avatar-gf5083c0bd_640.png')}}" alt="avatar">

        {% endif %}

        <figcaption>
            {% if comment.user != null %}
                <a href="{{path('app_artistDetail', {'id':comment.user.id })}}">{{comment.user.username}}</a>
                
            {% else %}
                <a href="#">account disabled</a>
            {% endif %}

            {# if the user is connected then show the comment param section #}
            {% if app.user %}

                <div class="dropdown">
                    <button class="fa-solid fa-ellipsis-vertical"></button>

                    {# if the id of the comment is not null then show the button #}
                    {% if comment.id != null %}

                        {# if the user is the owner of the comment then show the delete #}
                        {% if app.user  == comment.user %}

                            <div id="list-items">

                                <a href="#" delete-url="{{path('delete_comment', {'id':comment.id})}}" class="deletebtn">delete</a>                                
                            </div>
                            
                        {% endif %}

                    {% endif %}
                </div>
                
            {% endif %}

        </figcaption>
    </figure>

    <p>{{comment.text}} </p>
</article>