{% extends 'base.html.twig' %}

{% block title %}Liked songs{% endblock %}

{% block body %}

<section class="playlistDetail">

    <div class="playlistHeader">
        <figure>
            <img src="{{asset('img/dee-XhvEvfXQoSY-unsplash.jpg')}}" alt="playlist image">
        </figure>
        <h3>Liked Songs</h3>

        {# if there is no music in the like then #}
        {% if like|length != 0 %}
                  
            <div class="playerBtns">
                <a href="{{path('like_Player', {'id': like[0].id})}}">
                    <i class="fa-regular fa-circle-play"></i>
                </a>

                <a href="">
                    <i class="fa-solid fa-shuffle"></i>
                </a>
            </div>

        {% endif %}
    </div>

    <table>

        <thead>

            <tr>
                <th></th>
                <th>title</th>
                <th>artist</th>
                <td></td>
                <th>time</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            {% for song in like %}
                <tr>
                    <td>
                        <figure>
                            <img src="{{asset('uploads/' ~ song.album.cover)}}" alt="song img">
                        </figure>
                    </td>
                    <td><a href="{{path('like_Player', {'id': song.id})}}"> {{song.nameSong}} </a></td>
                    <td> <a href="{{path('app_artistDetail', {'id': song.user.username})}}"> {{song.user.username}} </a></td>
                    <td>
                        {% include "like/_like.html.twig" %}
                    </td>
                    <td>0:00</td>

                    {% if app.user %}
                        
                        <td><button><a href="{{path('form_toSongsPlaylist', {'id': song.id})}}" id="myBtn" class="fa-solid fa-plus"></a></button></td>
                    
                    {% else %}
                        <td><button><i class="fa-solid fa-plus"></i></button></td>
                    {% endif %}
                </tr>
            
            {% endfor %}

        </tbody>
    </table>
</section>
{% endblock %}