{% extends 'base.html.twig' %}

{% block title %}{{song.user.username}} {{song.nameSong}}{% endblock %}

{% block body %}

<section class="musicPlayer">


    <div class="player">

        <figure class="cover">
            <img src="{{song.album.cover}}" alt="music cover">
        </figure>

        <h3 class="trackTitle">{{song.nameSong}}</h3>
        <h4 class="ArtistName">{{song.user.username}}</h4>

        
        <div class="controls">
            
            <button class="like"><i class="fa-regular fa-heart"></i></button>

            <button class="fa-sharp fa-solid fa-backward" id="btnPrev"></button>    
            <button id="mainPlayBtn"><span class="fa-solid fa-circle-play"></span></button>
            <button class="fa-sharp fa-solid fa-forward" id="btnNext"></button>
        
            <div class="hover">

                <i class="volume-icon"><span class="fa-solid fa-volume-high"></span></i>


                <div class="audio">
                    
                    <input type="range" id="volume-slider">
                    
                </div>
            </div>
        </div>

        <audio id="audio" src="{{song.link}}"></audio>

        <div class="timeline">
            <small class="time">0:00</small>

            <div class="range-slider">
                <input type="range" min="0" max="100" value="0" class="slider">
            

                <div class="slider-thumb"></div>

                <div class="progress"></div>
            </div>

            <small class="fulltime">2:55</small>

        </div>

    </div>

    <div class="leftSide">

        <table>

            <thead>

                <tr>
                    <th></th>
                    <th>title</th>
                    <th>artist</th>
                    <th></th>
                    <th>time</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    
                    <td>
                        <figure>
                            <a href="{{path('app_songPlayer',{'id': song.id} )}}">

                                <img src="{{song.album.cover}}" alt="song img">
                            </a>
                        </figure>
                    </td>
                    <td><a href="{{path('app_songPlayer',{'id': song.id} )}}">{{song.nameSong}}</a></td>
                    <td> <a href="{{path('app_artistDetail', {'id':song.user.id })}}"> {{song.user.username}}</a></td>
                    <td><button><i class="fa-regular fa-heart"></i></button></td>
                    <td><small class="fulltime">3:09</small> </td>
                    <td><button><i class="fa-solid fa-plus"></i></button></td>
                
                </tr>
                
            </tbody>
        </table>

        <form action="#" method="post">
            <input type="text" placeholder="leave a comment">

            <button type="submit">Comment</button>
        </form>

        <div class="comments">

            {% for comment in song.comments %}

               <article>
                   <figure>
                       <img src="{{comment.user.avatar}}" alt="profile picture">
                       
                       <figcaption> 
                           <a href="{{path('app_artistDetail', {'id':comment.user.id })}}">{{comment.user.username}}</a>
                        </figcaption>
                    </figure>
                    
                    <p>{{comment.text}} </p>
                </article>
            {% endfor %}
                
        </div>

    </div>
    
</section>
{% endblock %}
