{% extends 'base.html.twig' %}

{% block title %}My playlists{% endblock %}

{% block body %}


    

    <section class="playlistList">

        <div class="title">
            <div class="nav">

                <h1>Playlist</h1>
                <a class="artistLink" href="{{path('app_subscribe')}}">Artists</a>
            </div>

            <a href="{{path('add_playlist')}}">New playlist</a>
            
        </div>

        <div class="myPlaylist">

            <div class="mainCard">

                <a href="{{path('app_like')}}">
                    <figure>
                        <img src="{{asset('assets/img/dee-XhvEvfXQoSY-unsplash.jpg')}}" alt="playlist image">
                        <figcaption>
                            <h2>Like</h2>
                            <h3>Number of Songs : {{like|length}} </h3>
                        </figcaption>
                        
                    </figure>
                </a>
            </div>

            {% for playlist in playlists %}

                <div class="card">

                    <a href="{{path('playlist_detail', {'id': playlist.id})}}">

                        <figure>
                            <img src="{{asset('uploads/img/' ~ playlist.image)}}" alt="playlist image">
                        </figure>

                        <h3>{{playlist.playlistName}}</h3>

                    </a>
                </div>

            {% endfor %}
            
        </div>
    </section>


{% endblock %}
