{% extends 'base.html.twig' %}

{% block title %}{{playlist.playlistName}} {% endblock %}

{% block body %}

<section class="playlistDetail">

    <div class="playlistHeader">

        <figure>
            <img src="{{asset('uploads/img/' ~ playlist.image)}}" alt="playlist image">
        </figure>

        <div class="playlistName">

            <h3>{{playlist.playlistName}} </h3>

            {# if it isn't the playlist owner then don't show the button #}
            {% if playlist.user.id is same as(app.user.id)   %}
                <div class="dropdown">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                    <div class="dropdown-content">
                        <a href="{{path('edit_playlist', {'id': playlist.id})}}">Edit</a>
                        <a href="{{path('delete_playlist', {'id': playlist.id})}}">Delete</a>
                    </div>
                </div>
                
            {% endif %}
            
        </div>

        <div class="playerBtns">

            <a href="{{path('playlist_player', {'id': playlist.id})}}">
                <i class="fa-regular fa-circle-play"></i>
            </a>

            <a href="">
                <i class="fa-solid fa-shuffle"></i>
            </a>
                
        </div>
    </div>

    <table>

        <thead>

            <tr>
                <th></th>
                <th>title</th>
                <th>artist</th>
                <th></th>
                <th>time</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            {% for song in playlist.songs %}
                
                <tr>
                    <td>
                        <figure>
                            <img src="{{asset('uploads/img/' ~ song.album.cover)}}" alt="song img">
                        </figure>
                    </td>
                    <td>{{song.nameSong}} </td>
                    <td> <a href="{{path('app_artistDetail', {'id': song.user.id})}}"> {{song.user.username}} </a></td>
                    <td><button><i class="fa-regular fa-heart"></i></button></td>
                    <td>3:09</td>
                    <td><button><i class="fa-solid fa-plus"></i></button></td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</section>

{% endblock %}
