{% extends 'base.html.twig' %}

{% block title %}playlistDetail{% endblock %}

{% block body %}

<section class="playlistDetail">

    <div class="playlistHeader">
        <figure>
            <img src="{{playlist.image}}" alt="playlist image">
        </figure>
        <h3>{{playlist.playlistName}} </h3>

        <div class="playerBtns">
            {# TODO:link to music player #}
            <a href="musicPlayer.html">
                <i class="fa-regular fa-circle-play"></i>
                <i class="fa-solid fa-shuffle"></i>
            </a>
        </div>
    </div>

    <table>

        <thead>

            <tr>
                <th></th>
                <th>title</th>
                <th>artist</th>
                <th></th>
                <th>time</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            {% for song in playlist.songs %}
                
                <tr>
                    <td>
                        <figure>
                            <img src="{{song.album.cover}}" alt="song img">
                        </figure>
                    </td>
                    <td>{{song.nameSong}} </td>
                    {# TODO: link to artist page #}
                    <td> <a href="artistDetail.html"> {{song.user.username}} </a></td>
                    <td><button><i class="fa-regular fa-heart"></i></button></td>
                    <td>3:09</td>
                    <td><button><i class="fa-solid fa-plus"></i></button></td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</section>

{% endblock %}
