{% extends 'base.html.twig' %}

{% block title %}{{playlist.playlistName}}{% endblock %}

{% block body %}
<section class="musicPlayer">

    <div class="player">

        <figure class="cover">
            <img src="{{asset('uploads/' ~ song.album.cover)}}" alt="music cover">
        </figure>

        <h3 class="trackTitle">{{song.nameSong}}</h3>
        <h4 class="ArtistName">{{song.user.username}}</h4>

        
        <div class="controls">
            
            {% include "like/_like.html.twig" %}

            <a href="{{path('playlist_prevSong', {'id': playlist.id, 'songId': song.id, 'isShuffled': app.request.query.get('isShuffled', false)})}}" class="fa-sharp fa-solid fa-backward" id="btnPrev"></a>
            <button id="mainPlayBtn" onclick="togglePlay()"><span class="fa-solid fa-pause"></span></button>
            <a href="{{path('playlist_skipforward', {'id': playlist.id, 'songId': song.id, 'isShuffled': app.request.query.get('isShuffled', false)})}}" class="fa-sharp fa-solid fa-forward" id="btnNext"></a>
        
            <div class="hover">

                <i class="volume-icon" onclick="toggleMute()"><span class="fa-solid fa-volume-high"></span></i>


                <div class="audio">
                    <input type="range" id="volume-slider">
                    
                </div>
            </div>
        </div>


        <audio id="audio" src="{{asset('uploads/' ~ song.link)}}" autoplay skip preload="metadata">
        </audio>
            

        <div class="timeline">
            <small class="time">0:00</small>

            <div class="range-slider">
                <input type="range" min="0" max="100" value="0" class="slider">
            

                <div class="slider-thumb"></div>

                <div class="progress"></div>
            </div>

            <small class="fulltime">0:00</small>

        </div>

    </div>

    <div class="leftSide">
        {# <table>

            <thead>

                <tr>
                    <th></th>
                    <th>title</th>
                    <th>artist</th>
                    <th>time</th>
                    <th>
                        <a href="{{path('shuffle_playlist', {'id': playlist.id})}}">
                            <i class="fa-solid fa-shuffle fs-4"></i>
                        </a>
                    </th>
                </tr>
            </thead>

            <tbody id="songs-list">
                                
                {% for song in songs %} 
                
                
                    <tr>
                        
                        <td>
                            <figure>
                                <img src="{{asset('uploads/' ~ song.album.cover)}}" alt="song img">
                            </figure>
                        </td>
                        <td><a href="{{path('playlist_player', {'id': playlist.id, 'songId': song.id})}}">{{song.nameSong}}</a></td>
                        <td> <a href="{{path('app_artistDetail', {'id': song.user.username})}}"> {{song.user.username}} </a></td>
                        <td>0:00</td>
                        <td><a href="{{path('form_toSongsPlaylist', {'id': song.id})}}" class="fa-solid fa-plus"></a></td> 

                    </tr>
                
                {% endfor %}
                
            </tbody>
        </table> #}


        {# TODO:find a better place for it #}
        <a href="{{path('shuffle_playlist', {'id': playlist.id})}}">
            <i class="fa-solid fa-shuffle fs-4"></i>
        </a>

        <div class="table overflow-auto" style="height:272px; ">

            <table>

                <tr>

                    {% for song in songs %} 
                
                        <tr>
                            
                            <td>
                                <figure class="w-50">
                                    <img src="{{asset('uploads/' ~ song.album.cover)}}" alt="song img">
                                </figure>
                            </td>
                            <td><a href="{{path('playlist_player', {'id': playlist.id, 'songId': song.id})}}">{{song.nameSong}}</a></td>
                            <td> <a href="{{path('app_artistDetail', {'id': song.user.username})}}"> {{song.user.username}} </a></td>
                            <td>0:00</td>
                            <td><a href="{{path('form_toSongsPlaylist', {'id': song.id})}}" class="fa-solid fa-plus"></a></td> 

                        </tr>
                    
                    {% endfor %}
                </tr>
            </table>  
        </div>

        <div id="sidebar">
            {% include('comment/_add.html.twig') %}
        </div>

        
        <div class="comments">
   
            {% for comment in song.comments | reverse %}

                {% include('comment/_comment.html.twig') %}

            {% endfor %}
 
        </div>

        
    </div>
    
</section>
{% endblock %}
