{% extends 'base.html.twig' %}

{% block title %}{{playlist.playlistName}} {% endblock %}

{% block body %}

<section class="playlistDetail">

    <div class="playlistHeader">

        <figure>
            {% if playlist.image == null %}
                <img src="{{asset('img/dee-XhvEvfXQoSY-unsplash.jpg')}}" alt="playlist image">
            {% else %}
                <img src="{{asset('uploads/' ~ playlist.image)}}" alt="playlist image">
            {% endif %}
        </figure>

        <div class="playlistName">

            <h3>{{playlist.playlistName}} </h3>

            {% if app.user %}
            
                <div class="dropdown">
                    
                    <i class="fa-solid fa-ellipsis-vertical"></i>

                    <div class="dropdown-content">

                        <p id="myBtn">
                            <i class="fa-solid fa-share"></i>
                            share
                        </p>

                        {# if the playlist owner is the same as the user in session then show button #}
                        {% if playlist.user.id is same as(app.user.id) %}
                        
                            {# TODO: remove or find a better way to display #}
                            {# <p id="myBtn">add Songs</p> #}

                            <a href="{{path('edit_playlist', {'id': playlist.uuid})}}">Edit</a>
                            <a href="{{path('delete_playlist', {'id': playlist.id})}}">Delete</a>
                        {% endif %} 

                    </div>
                </div>

                {# TODO: remove or find a better way to display #}
                {# {% if playlist.user.id is same as(app.user.id) %}
                    <div id="myModal" class="modal">

                        <div class="modal-content">

                            <span class="close">&times;</span>

                            {{ render(controller('App\\Controller\\PlaylistController::addSongs', { 'id': playlist.id } )) }}
                        </div>

                    </div>

                {% endif %}    #}
                

                <div id="myModal" class="modal">

                    <div class="modal-content w-50">

                        <div class="d-flex justify-content-between">

                            <h2>Share</h2>  
                            <span class="close">&times;</span>
                        </div>
                        

                        <a class="fa-brands fa-facebook mt-3" style="color: #365899; text-decoration: none; font-size: xxx-large;" href="http://www.facebook.com/share.php?u={{absolute_url(path('playlist_detail', {'id' : playlist.uuid}))}}&layout&size&appId=1427200851369139&width=77&height=20" target="_blank"></a> 
                    
                        <div class="d-flex mt-3">

                            <input type="text" value="{{absolute_url(path('playlist_detail', {'id' : playlist.uuid}))}}" id="copyLink" class="w-100 p-1">
                            <button id="copyBtn" class="bg-dark border-0 text-white">Copy</button>
                        </div>

                    </div>

                </div>
                
            {% endif %}

            
        </div>

        {# if there is songs inside of the playlist then show the play and suffle buttons #}
        {% if songs|length > 0 %}
        
            <div class="playerBtns">

                <a href="{{path('playlist_player', {'id': playlist.id, 'songId':songs[0].id })}}">
                    <i class="fa-regular fa-circle-play"></i>
                </a>

                {# <a href="{{path('shuffle_playlist', {'id': playlist.id, 'songId': songs[0].id})}}">
                    <i class="fa-solid fa-shuffle"></i>
                </a> #}

                {% if app.user %}
                    <a href="{{path('favorite_playlist', {'id': playlist.id})}}" data-action="favorite">
                {% endif %}

                    <i class="fa-solid fa-check uncheck {{ app.user in playlist.userFavorites ? 'd-none' : '' }}"></i>
                    <i class="fa-solid fa-check check {{ app.user in playlist.userFavorites ? '' : 'd-none' }}" style="color: #22b71f;"></i>
                
                {% if app.user %}
                    </a>
                {% endif %}
                    
            </div>
            
        {% endif %}
    </div>

    <table>

        <thead>

            <tr>
                <th></th>
                <th>title</th>
                <th>artist</th>
                <th></th>
                <th>time</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            {% for song in playlist.songs %}
                <tr>
                    <td>
                        <figure>
                            <img src="{{asset('uploads/' ~ song.album.cover)}}" alt="song img">
                        </figure>
                    </td>
                    <td> <a href="{{path('playlist_player', {'id': playlist.id, 'songId': song.id})}}">{{song.nameSong}} </a></td>
                    <td> <a href="{{path('app_artistDetail', {'id': song.user.username})}}"> {{song.user.username}} </a></td>
                    <td>
                        {% include "like/_like.html.twig" %}
                    </td>
                    <td>0:00</td>

                    <td>

                        {% if app.user %}

                            <div class="dropdown">

                                <button><i class="fa-solid fa-plus"></i></button>
                                
                                <div id="list-items">
                                    
                                    {% if app.user %}
                                        
                                        {# if the user is the owner of the song #}
                                        {% if app.user.id is same as(playlist.user.id) %}

                                            <a href="{{path('remove_SongsPlaylist', {'playlist':playlist.id, 'id': song.id})}}">delete</a>
                                            <a href="{{path('form_toSongsPlaylist', {'id': song.id})}}">add Playlist</a>

                                        {% else %}

                                            <a href="{{path('form_toSongsPlaylist', {'id': song.id})}}">add Playlist</a>

                                        {% endif %}
                                    {% endif %}

                                </div>
                            </div>

                        {% else %}
                            <button><i class="fa-solid fa-plus"></i></button>
                        {% endif %}

                    </td>

                </tr>
            {% endfor %}

        </tbody>
    </table>
</section>

{% endblock %}
