{% extends 'base.html.twig' %}

{% block title %}{{album.nameAlbum}}{% endblock %}

{% block body %}
<section class="playlistDetail">

    <div class="playlistHeader">
        <figure>
            <img src="{{asset('uploads/' ~ album.cover)}}" alt="playlist image">
        </figure>
        <h3>{{album.nameAlbum}}</h3>

        <div class="playerBtns">

            <a href="{{path('app_albumPlayer', {'id': album.id, 'song': songs[0].id})}}">
                <i class="fa-regular fa-circle-play"></i>
            </a>

            <a href="#">
                <i class="fa-solid fa-shuffle"></i>
            </a>
        </div>
    </div>

    {% if app.user %}
        
        {# if the user in session is equal to the creator of the album then #}
        {% if app.user.id is same as(album.user.id) %}
        
            <div class="title">
                <a href="{{path('add_song', {'id': album.id})}}">Upload song</a>
            </div>
            
        {% endif %}
    {% endif %}


    <table>

        <thead>

            <tr>
                <th></th>
                <th>title</th>
                <th>artist</th>
                <th></th>
                <th>time</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            
            {% for song in album.songs %}            
                <tr>
                    <td>
                        <figure>
                            <img src="{{asset('uploads/' ~ album.cover)}}" alt="song img">
                        </figure>
                    </td>
                    <td><a href="{{path('app_songPlayer', {'id': song.id})}}"> {{song.nameSong}} </a></td>
                    <td> <a href="{{path('app_artistDetail', {'id': song.user.id})}}"> {{song.user.username}} </a></td>
                    <td>

                        {% include "like/_like.html.twig" %}

                    </td>
                    <td>0:00</td>
                    <td>
                        
                        <div class="dropdown">
                            <button><i class="fa-solid fa-plus"></i></button>
                            
                            <div id="list-items">
                                
                                {% if app.user %}
                                    
                                    {# if the user is the owner of the song #}
                                    {% if app.user.id is same as(song.user.id) %}

                                        <a href="{{path('edit_song', {'id': song.id})}}">edit</a>
                                        <a href="{{path('delete_song', {'id': song.id})}}">delete</a>

                                    {% endif %}
                                {% endif %}

                            </div>
                        </div>


                    </td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
</section>

{% endblock %}

