{% extends 'base.html.twig' %}

{% block title %}{{album.nameAlbum}}{% endblock %}

{% block body %}
<section class="playlistDetail">

    <div class="playlistHeader">
        <figure>
            <img src="{{asset('uploads/' ~ album.cover)}}" alt="playlist image">
        </figure>

        <div class="playlistName">

            <h3>{{album.nameAlbum}}</h3>

            <a href="#" class="fa-solid fa-share text-black text-decoration-none" id="myBtn"></a>

            <div id="myModal" class="modal">

                <div class="modal-content w-50">

                    <div class="d-flex justify-content-between">

                        <h2>Share</h2>  
                        <span class="close">&times;</span>
                    </div>
                    

                    <a class="fa-brands fa-facebook mt-3" style="color: #365899; text-decoration: none; font-size: xxx-large;" href="http://www.facebook.com/share.php?u={{absolute_url(path('app_albumDetail', {'id' : album.uuid}))}}&layout&size&appId=1427200851369139&width=77&height=20" target="_blank"></a> 
                
                    <div class="d-flex mt-3">

                        <input type="text" value="{{absolute_url(path('app_albumDetail', {'id' : album.uuid}))}}" id="copyLink" class="w-100 p-1">
                        <button id="copyBtn" class="bg-dark border-0 text-white">Copy</button>
                    </div>

                </div>

            </div>
        </div>

        {% if songs|length != 0 %}
            
            <div class="playerBtns">

                <a href="{{path('app_albumPlayer', {'id': album.id, 'songId': songs[0].id})}}">
                    <i class="fa-regular fa-circle-play"></i>
                </a>

                <a href="#">
                    <i class="fa-solid fa-shuffle"></i>
                </a>
            </div>
            
        {% endif %}
    </div>

    {% if app.user %}
        
        {# if the user in session is equal to the creator of the album then #}
        {% if app.user.id is same as(album.user.id) %}
        
            <div class="title">
                <a href="{{path('add_song', {'id': album.id})}}">Upload song</a>
            </div>
            
        {% endif %}
    {% endif %}


    <table>

        <thead>

            <tr>
                <th></th>
                <th>title</th>
                <th>artist</th>
                <th></th>
                <th>time</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            
            {% for song in album.songs %}            
                <tr>
                    <td>
                        <figure>
                            <img src="{{asset('uploads/' ~ album.cover)}}" alt="song img">
                        </figure>
                    </td>
                    <td><a href="{{path('app_albumPlayer', {'id': album.id, 'songId': song.id})}}"> {{song.nameSong}} </a></td>
                    <td> <a href="{{path('app_artistDetail', {'id': song.user.username})}}"> {{song.user.username}} </a></td>
                    <td>

                        {% include "like/_like.html.twig" %}

                    </td>
                    <td>0:00</td>
                    <td>
                        
                        {% if app.user %}

                            {% if app.user.id is same as(song.user.id) %}
                                <div class="dropdown">
                                    <button><i class="fa-solid fa-plus"></i></button>
                                    
                                    <div id="list-items">
                                        
                                        {# if the user is the owner of the song #}
                                        <a href="{{path('edit_song', {'id': song.id})}}">edit</a>
                                        <a href="{{path('delete_song', {'id': song.id})}}">delete</a>
                                        <a href="{{path('form_toSongsPlaylist', {'id': song.id})}}">add to playlist</a>
                                       
                                    </div>
                                </div>

                            {% else %}
                                <button><a href="{{path('form_toSongsPlaylist', {'id': song.id})}}" class="fa-solid fa-plus"></a></button>
                            {% endif %}
                        {% endif %}

                    </td>

                </tr>
            {% endfor %}
            
        </tbody>
    </table>
</section>

{% endblock %}

