{% extends 'base.html.twig' %}

{% block title %}Hello AlbumController!{% endblock %}

{% block body %}
    <section class="newRelease">

        <div class="album">

            <div class="title">

                <h1>New Album</h1>
                <a href="{{path('app_albums')}}">More</a>
            </div>

            <div class="cards">
                
                {% for album in albums %}
                
                    <div class="card">
                        
                        <a href="{{path('app_albumDetail', {'id': album.id})}}">
                            
                            <figure>
                                <img src="{{asset('uploads/img/' ~ album.cover)}} "alt="album cover">
                            </figure>
                            
                            <h3>{{album.nameAlbum}} </h3>
                        </a>
                    </div>

                {% endfor %}

            </div>
        </div>

        <div class="genres">

            <h1 class="title">Genres</h1>

            <div class="genresList">

                {% for genre in genres %}

                    <a href="{{path('app_genre', {'id': genre.id})}}">{{genre.genreName}}</a>
                
                {% endfor %}
            
            </div>

        </div>
    </section>
{% endblock %}
