{% extends 'base.html.twig' %}

{% block title %}Popular artists{% endblock %}

{% block body %}

    <section class="more">

        <div class="listItems">

            {% for artist in artistMostSub %}

                <div class="mcard">

                    <a href="{{path('app_artistDetail', {'id': artist.username})}}">

                        {% if artist.avatar == null %}
                            <figure>
                                <img src="{{asset('assets/img/avatar-gf5083c0bd_640.png')}}" alt="avatar">
                            </figure>

                        {% else %}

                            <figure>
                                <img src="{{asset('uploads/' ~ artist.avatar)}}" alt="playlist image">
                            </figure>
                        {% endif %}

                        <h3>{{artist.username}}</h3>
                        <h3>{{artist.num_followers}} subscribers</h3>

                    </a>
                </div>

            {% endfor %}
            
        </div>

        <div class="d-flex justify-content-center">
            
            {{ knp_pagination_render(artistMostSub) }}
        </div>
    </section>
{% endblock %}
