{% extends 'base.html.twig' %}

{% block title %}{{artist.username}}{% endblock %}

{% block body %}

<section class="artistDetail">

    <div class="hero">
        <figure>

            {% if artist.avatar == null %}
              
                <img src="{{asset('assets/img/profil_pic.png')}}" alt="profile picture"> 
            {% else %}
            
                <img src="{{asset('uploads/' ~ artist.avatar)}}" alt="profile picture"> 
            {% endif %}
            

            <figcaption>
                <h1>{{artist.username}}</h1>

                {% if app.user %}

                    {% include "subscribe/_addSub.html.twig" %}

                {% endif %}

                {% if artist.subUser2|length <= 1 %}
                    <h3>{{artist.subUser2|length}} subcriber</h3>
                    
                {% else %}
                    <h3>{{artist.subUser2|length}} subcribers</h3>

                {% endif %}

            </figcaption>
        </figure>
    </div>


    <table>

        <thead>

            <tr>
                <th></th>
                <th>title</th>
                <th>artist</th>
                <th>time</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            
            {% for song in songs %}
                <tr>
                    <td>
                        <figure>
                            <img src="{{asset('uploads/' ~ song.cover)}}" alt="song img">
                        </figure>
                    </td>
                    <td><a href="{{path('app_songPlayer', {'id': song.id})}}">{{song.nameSong}} </a></td>
                    <td> <a href="{{path('app_artistDetail', {'id': artist.id})}}"> {{song.username}} </a></td>
                    <td>3:09</td>
                    <td><button><i class="fa-solid fa-plus"></i></button></td>
                </tr>

            {% endfor %}
        </tbody>
    </table>

    <div class="album">

        <div class="title">

            <h1>Albums</h1>
            <a href="{{path('app_artistAlbum', {'id': artist.id})}}">More</a>
        </div>

        <div class="cards">

            {% for album in albums %}
            
                <div class="mcard">
                    <a href="{{path('app_albumDetail', {'id': album.id})}}">

                        <figure>
                            <img src="{{asset('uploads/' ~ album.cover)}}" alt="album cover">
                        </figure>
                        
                        <h3>{{album.nameAlbum}} </h3>
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>

    <div class="artist">

        <div class="title">

            <h1>Most Popular Artists</h1>
            <a href="{{path('app_similarArtist')}}">More</a>
        </div>

        <div class="cards">

            {% for artistMostSub in artistMostSub %}
                
                <div class="mcard">
                    <a href="{{path('app_artistDetail', {'id': artistMostSub.id})}}">

                        {% if artistMostSub.avatar == null %}
                            <figure>
                                <img src="{{asset('assets/img/profil_pic.png')}}" alt="album cover">
                            </figure>

                        {% else %}
                            <figure>
                                <img src="{{asset('uploads/' ~ artistMostSub.avatar)}}" alt="album cover">
                            </figure>
                            
                        {% endif %}
                        
                        <h3>{{artistMostSub.username}}</h3>

                        {% if artist.subUser2|length <= 1 %}
                            <h3>{{artist.subUser2|length}} subcriber</h3>
                            
                        {% else %}
                            <h3>{{artist.subUser2|length}} subcribers</h3>
        
                        {% endif %}
                    </a>
                </div>
            
            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}
