{% extends 'base.html.twig' %}

{% block title %}{{artist.username}}{% endblock %}

{% block body %}

{% if artist.roles == ["ROLE_USER"] %}

    <h3>This user doesn't have a profile page.</h3>

{% else %}
    <section class="artistDetail">

        <div class="hero">

            <div class="parallax">

                <figure>
                    
                    {% if artist.poster == null %}
                    
                        <img src="{{asset('img/avatar-gf5083c0bd_640.png')}}" alt="avatar">
                    {% else %}
                    
                        <img src="{{asset('uploads/' ~ artist.poster)}}" alt="profile picture"> 
                    {% endif %}
                    
    
                    <figcaption class="flex-column">
    
                        <div class="d-flex flex-row">
    
                            <h1>{{artist.username}}</h1>
    
                            {# toggle between two btn if the user is sub or not to the artist #}
                            {% if userSub %}
    
                                <form action="{{path('app_subscribeTo', {'id': artist.username})}}" method="post" class="mb-3">
                                    <button class="btn-primary btn" type="submit">Subscribed</button>
                                </form>
                            
                            {% else %}
    
                                {% include "subscribe/_addSub.html.twig" %}
    
                            {% endif %}
                        </div>
    
                        {# count the nb if subscriber of an artist #}
                        {% if artist.subUser2|length <= 1 %}
                            <h3 class="text-light">{{artist.subUser2|length}} subcriber</h3>
                            
                        {% else %}
                            <h3 class="text-light">{{artist.subUser2|length}} subcribers</h3>
    
                        {% endif %}
    
    
                    </figcaption>
                </figure>
            </div>
        </div>


        <span class="tacTwitterTimelines">
        </span>
        <a class="twitter-timeline" href="https://twitter.com/{{artist.twitterId}}" data-tweet-limit="5" data-dnt="dnt (true | false)" data-width="width" data-height="height" data-theme="theme (dark | light)" data-link-color="hex link-color"></a>
        

        <div class="title">
            <h2>Most Liked</h2>
        </div>

        <table>

            <thead>

                <tr>
                    <th></th>
                    <th>title</th>
                    <th>artist</th>
                    <td></td>
                    <th>time</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for song in songs %}
                    <tr>
                        <td>
                            <figure>
                                <img src="{{asset('uploads/' ~ song.album.cover)}}" alt="song img">
                            </figure>
                        </td>
                        <td><a href="{{path('app_songPlayer', {'id': song.uuid})}}">{{song.nameSong}} </a></td>
                        <td> <a href="{{path('app_artistDetail', {'id': artist.username})}}"> {{song.user.username}} </a></td>
                        <td>
                            {% include "like/_like.html.twig" %}
                        </td>
                        <td>3:09</td>
                        <td>
                            {% if app.user %}
                            
                                <button><a href="{{path('form_toSongsPlaylist', {'id': song.id})}}" class="fa-solid fa-plus" target="_blank"></a></button>
                            {% else %}
                            
                                <button><i class="fa-solid fa-plus"></i></button>
                            {% endif %}
                            
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>

        <div class="album">

            <div class="title">

                <h2>Albums</h2>
                <a href="{{path('app_artistAlbum', {'id': artist.id})}}">More</a>
            </div>

            <div class="cards">

                {% for album in albums %}
                
                    {% if album|length > 3 %}

                        <div class="mcard">
                            <a href="{{path('app_albumDetail', {'id': album.uuid})}}">

                                <figure>
                                    <img src="{{asset('uploads/' ~ album.cover)}}" alt="album cover">
                                </figure>
                                
                                <h3>{{album.nameAlbum}} </h3>
                            </a>
                        </div>
                    {% endif %}

                {% endfor %}

            </div>
        </div>

        <div class="album">

            <div class="title">

                <h2>Singles</h2>
            </div>

            <div class="cards">

                {% for album in albums %}

                    {% if album|length <= 3 %}

                        <div class="mcard">

                            <a href="{{path('app_albumDetail', {'id': album.uuid})}}">

                                <figure>
                                    <img src="{{asset('uploads/' ~ album.cover)}}" alt="album cover">
                                </figure>
                                
                                <h3>{{album.nameAlbum}} </h3>
                            </a>
                        </div>
                    {% endif %}
                
                {% endfor %}

            </div>
        </div>

        {% if artist.bio != null %}
            
            <div class="about">

                <div class="title">
                    <h2>About</h2>
                </div>

                <div class="card m-5 d-flex flex-row p-3 w-75 justify-content-between" id="myBtn">

                    {% if artist.poster != null %}
                        <figure class="w-20">
                            <img class="rounded-circle" src="{{asset('uploads/' ~ artist.avatar)}}" alt="{{artist.username}} image">
                            
                        </figure>
                    {% endif %}
                    
                    <div class="border border-secondary"></div>

                    <figcaption class="d-flex flex-column p-5 w-50">

                        {% if artist.subUser2|length <= 1 %}
                            <h3 class="text-light">{{artist.subUser2|length}} subcriber</h3>
                        
                        {% else %}
                            <h3 class="text-light">{{artist.subUser2|length}} subcribers</h3>

                        {% endif %}

                        <p class="text-light">
                            
                            {# if the lenght of the bio is sup to 234 then cut the array and add ...  #}
                            {{ artist.bio|length > 242 ? artist.bio|slice(0, 242) ~ '...' : artist.bio  }}
                        </p>

                        {% if artist.bio|length > 242 %}
                            
                            <small class="text-light">Click to read more.</small>
                        {% endif %}

                    </figcaption>

                </div>
            </div>

            {% if artist.bio|length > 242 %}
                
                <div id="myModal" class="modal">
        
                    <div class="modal-content w-50 h-100 overflow-auto p-0 rounded-5 m-auto">
        
                        <span class="close position-absolute m-2 text-danger">&times;</span>
        
                        {% if artist.poster != null %}
                        
                            <figure>
                                <img class="w-100 rounded-5" src="{{asset('uploads/' ~ artist.poster)}}" alt="{{artist.username}} image">
        
                            </figure>  
                        {% endif %}

                        
                        <div class="d-flex text-black">

                            <div class="w-25 p-2">

                                {% if artist.subUser2|length <= 1 %}
                                    <h3 class="fw-bold text-black">{{artist.subUser2|length}} subcriber</h3>
                                
                                {% else %}
                                    <h3 class="fw-bold text-black">{{artist.subUser2|length}} subcribers</h3>
                
                                {% endif %}
                            </div>


                            <article class="d-flex flex-column w-75">

                                <h2><b>{{artist.username}}</b>  </h2>
                                
                                <p>{{artist.bio}}</p>
                            </article>

                        </div>
        
                    </div>
        
                </div>
            {% endif %}
        {% endif %}


        <div class="artist">

            <div class="title">

                <h2>Most Popular Artists</h2>
                <a href="{{path('app_similarArtist')}}">More</a>
            </div>

            <div class="cards">

                {% for artistMostSub in artistMostSub %}
                    
                    <div class="mcard">
                        <a href="{{path('app_artistDetail', {'id': artistMostSub.username})}}">

                            {% if artistMostSub.avatar == null %}
                                <figure>
                                    <img src="{{asset('img/profil_pic.png')}}" alt="album cover">
                                </figure>

                            {% else %}
                                <figure>
                                    <img src="{{asset('uploads/' ~ artistMostSub.avatar)}}" alt="album cover">
                                </figure>
                                
                            {% endif %}
                            
                            <h3>{{artistMostSub.username}}</h3>

                            {% if artistMostSub.num_followers <= 1 %}
                                <h3>{{artistMostSub.num_followers}} subcriber</h3>
                                
                            {% else %}
                                <h3>{{artistMostSub.num_followers}} subcribers</h3>
            
                            {% endif %}
                        </a>
                    </div>
                
                {% endfor %}

            </div>
        </div>
    </section>
{% endif %}

{% endblock %}
