{% extends 'base.html.twig' %}

{% block title %}{{artist.username}}{% endblock %}

{% block body %}

{% if artist.roles == ["ROLE_USER"] %}

    <h3>This user doesn't have a profile page.</h3>

{% else %}
    <section class="artistDetail">

        <div class="hero">
            <figure>
                
                {% if artist.poster == null %}
                
                    <img src="{{asset('img/avatar-gf5083c0bd_640.png')}}" alt="avatar">
                {% else %}
                
                    <img src="{{asset('uploads/' ~ artist.poster)}}" alt="profile picture"> 
                {% endif %}
                

                <figcaption class="flex-column">

                    <div class="d-flex flex-row">

                        <h1>{{artist.username}}</h1>

                        {# toggle between two btn if the user is sub or not to the artist #}
                        {% if userSub %}

                            <form action="{{path('app_subscribeTo', {'id': artist.username})}}" method="post">
                                <button type="submit">Subscribed</button>
                            </form>
                        
                        {% else %}

                            {% include "subscribe/_addSub.html.twig" %}

                        {% endif %}
                    </div>

                    {# count the nb if subscriber of an artist #}
                    {% if artist.subUser2|length <= 1 %}
                        <h3 class="text-light">{{artist.subUser2|length}} subcriber</h3>
                        
                    {% else %}
                        <h3 class="text-light">{{artist.subUser2|length}} subcribers</h3>

                    {% endif %}


                </figcaption>
            </figure>
        </div>

        <div class="title">
            <h2>Most Liked</h2>
        </div>

        <table>

            <thead>

                <tr>
                    <th></th>
                    <th>title</th>
                    <th>artist</th>
                    <td></td>
                    <th>time</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for song in songs %}
                    <tr>
                        <td>
                            <figure>
                                <img src="{{asset('uploads/' ~ song.album.cover)}}" alt="song img">
                            </figure>
                        </td>
                        <td><a href="{{path('app_songPlayer', {'id': song.uuid})}}">{{song.nameSong}} </a></td>
                        <td> <a href="{{path('app_artistDetail', {'id': artist.username})}}"> {{song.user.username}} </a></td>
                        <td>
                            {% include "like/_like.html.twig" %}
                        </td>
                        <td>3:09</td>
                        <td>
                            {% if app.user %}
                            
                                <button><a href="{{path('form_toSongsPlaylist', {'id': song.id})}}" id="myBtn" class="fa-solid fa-plus" target="_blank"></a></button>
                            {% else %}
                            
                                <button><i class="fa-solid fa-plus"></i></button>
                            {% endif %}
                            
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>

        <div class="album">

            <div class="title">

                <h2>Albums</h2>
                <a href="{{path('app_artistAlbum', {'id': artist.id})}}">More</a>
            </div>

            <div class="cards">

                {% for album in albums %}
                
                    {% if album|length > 3 %}

                        <div class="mcard">
                            <a href="{{path('app_albumDetail', {'id': album.uuid})}}">

                                <figure>
                                    <img src="{{asset('uploads/' ~ album.cover)}}" alt="album cover">
                                </figure>
                                
                                <h3>{{album.nameAlbum}} </h3>
                            </a>
                        </div>
                    {% endif %}

                {% endfor %}

            </div>
        </div>

        <div class="album">

            <div class="title">

                <h2>Singles</h2>
            </div>

            <div class="cards">

                {% for album in albums %}

                    {% if album|length <= 3 %}

                        <div class="mcard">

                            <a href="{{path('app_albumDetail', {'id': album.uuid})}}">

                                <figure>
                                    <img src="{{asset('uploads/' ~ album.cover)}}" alt="album cover">
                                </figure>
                                
                                <h3>{{album.nameAlbum}} </h3>
                            </a>
                        </div>
                    {% endif %}
                
                {% endfor %}

            </div>
        </div>

        {# TODO: add Modal #}
        <div class="about">

            <div class="title">
                <h2>About</h2>
            </div>

            <div class="card m-5 d-flex flex-row">
                <figure>
                    <img  class="rounded-circle" src="{{asset('uploads/' ~ artist.avatar)}}" alt="{{artist.username}} image">
                    
                </figure>
                
                <figcaption class="d-flex flex-column">

                    {% if artist.subUser2|length <= 1 %}
                        <h3 class="text-light">{{artist.subUser2|length}} subcriber</h3>
                    
                    {% else %}
                        <h3 class="text-light">{{artist.subUser2|length}} subcribers</h3>

                    {% endif %}
                    <p class="text-light">{{artist.bio}} </p>
                </figcaption>

            </div>
        </div>


        <div class="artist">

            <div class="title">

                <h2>Most Popular Artists</h2>
                <a href="{{path('app_similarArtist')}}">More</a>
            </div>

            <div class="cards">

                {% for artistMostSub in artistMostSub %}
                    
                    <div class="mcard">
                        <a href="{{path('app_artistDetail', {'id': artistMostSub.username})}}">

                            {% if artistMostSub.avatar == null %}
                                <figure>
                                    <img src="{{asset('img/profil_pic.png')}}" alt="album cover">
                                </figure>

                            {% else %}
                                <figure>
                                    <img src="{{asset('uploads/' ~ artistMostSub.avatar)}}" alt="album cover">
                                </figure>
                                
                            {% endif %}
                            
                            <h3>{{artistMostSub.username}}</h3>

                            {% if artistMostSub.num_followers <= 1 %}
                                <h3>{{artistMostSub.num_followers}} subcriber</h3>
                                
                            {% else %}
                                <h3>{{artistMostSub.num_followers}} subcribers</h3>
            
                            {% endif %}
                        </a>
                    </div>
                
                {% endfor %}

            </div>
        </div>
    </section>
{% endif %}

{% endblock %}
