{% extends 'base.html.twig' %}

{% block title %}edit profile{% endblock %}

{% block body %}

{{ form_start(editUserForm, { 'attr' : { 'class': 'd-flex flex-column w-50 m-auto' } }) }}

    {{ form_row(editUserForm.email) }}
    {{ form_row(editUserForm.username) }}
    {{ form_row(editUserForm.roles) }}
    {{ form_row(editUserForm.avatar) }}
    {{ form_row(editUserForm.submit) }}

{{ form_end(editUserForm) }}


<button class="btn btn-danger" id="myBtn">delete account</button>

<div id="myModal" class="modal">

  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Are you sure you want to delete your account ?</p>
    <a class="btn btn-danger" href="{{path('delete_profile')}}">delete account</a>
  </div>

</div>

{% endblock %}
