{% extends 'base.html.twig' %}

{% block title %}albums{% endblock %}

{% block body %}

    <section class="more">

        <div class="listItems">

            {% for album in albums %}

                <div class="mcard">
                    
                    {% if app.user == artist %}
                    
                        <div class="dropdown">
                            <button class="fa-solid fa-ellipsis-vertical"></button>
                        
                                
                                <div id="list-items">
                                    <a href="{{path('edit_album', {'id': album.id})}}">edit</a>
                                    <a href="{{path('delete_album', {'id': album.id})}}">delete</a>
                                </div>
                        </div>
                    {% endif %}
                        
                    <a href="{{path('app_albumDetail', {'id': album.id})}}">

                        <figure>
                            <img src="{{asset('uploads/' ~ album.cover)}}" alt="playlist image">
                        </figure>

                        <h3>{{album.nameAlbum}}</h3>

                    </a>
                </div>

            {% endfor %}
            
        </div>

        <div class="d-flex justify-content-center">
            
            {{ knp_pagination_render(albums) }}
        </div>
    </section>
{% endblock %}
