{% extends 'base.html.twig' %}

{% block title %}{{app.user.username}}{% endblock %}

{% block body %}

<section class="artistDetail">

    <div class="hero">

        <figure>

            {% if app.user.avatar == null %}
              
                <img src="{{asset('assets/img/profil_pic.png')}}" alt="profile picture"> 
            {% else %}
            
                <img src="{{asset('uploads/' ~ app.user.avatar)}}" alt="profile picture"> 
            {% endif %}
            

            <figcaption>
                <h1>{{app.user.username}}</h1>

                <a class="btn btn-dark" href="{{path('edit_profile')}}">Edit profil</a>
            </figcaption>
        </figure>
    </div>


    <table>

        <thead>

            <tr>
                <th></th>
                <th>title</th>
                <th>artist</th>
                <td></td>
                <th>time</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            
            {% for song in app.user.songs %}

                <tr>
                    <td>
                        <figure>
                            <img src="{{asset('uploads/' ~ song.album.cover)}}" alt="song img">
                        </figure>
                    </td>
                    <td><a href="{{path('app_songPlayer', {'id': song.id})}}">{{song.nameSong}} </a></td>
                    <td> <a href="{{path('app_artistDetail', {'id': app.user.id})}}"> {{app.user.username}} </a></td>
                    <td>
                        {% include "like/_like.html.twig" %}
                    </td>
                    <td>3:09</td>

                    <td>
                        <div class="dropdown">
                            <button><i class="fa-solid fa-plus"></i></button>
                            
                            <div id="list-items">
                               <a href="{{path('edit_song', {'id': song.id})}}">edit</a>
                               <a href="{{path('delete_song', {'id': song.id})}}">delete</a>
                            </div>
                        </div>
                        
                    </td>
                </tr>


            {% endfor %}
        </tbody>
    </table>

    <div class="album">

        <div class="title">

            <h1>Albums</h1>

            <div class="buttons">

                <a href="{{path('add_album')}}">Add Album</a>
                <a href="{{path('app_artistAlbum', {'id': app.user.id})}}">More</a>
            </div>
        </div>
        
        <div class="cards">
            
            {% for album in albums %}

                <div class="mcard">

                    <div class="dropdown">
                        <button class="fa-solid fa-ellipsis-vertical"></button>
                  
                        <div id="list-items">
                           <a href="{{path('edit_album', {'id': album.id})}}">edit</a>
                           <a href="{{path('delete_album', {'id': album.id})}}">delete</a>
                        </div>
                    </div>
                    
                    <a href="{{path('app_albumDetail', {'id': album.id})}}">

                        <figure>
                            <img src="{{asset('uploads/' ~ album.cover)}}" alt="album cover">          
                        </figure>
                        
                        <h3>{{album.nameAlbum}} </h3>

                    </a>
                
                    
                </div>
                {% endfor %}
                
        </div>
    </div>

</section>
{% endblock %}
